// Overriding Materialize CSS styles

.todo {    
    margin-bottom: 15px;

    label {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        background: rgb(178, 212, 235);
        padding: 15px;
        border-radius: 8px;

        input {

        }
    
        span {
            margin-right: 10px;
            color: #000;
        }

        i {
            font-size: 18px;
            font-weight: bold;
        }
    }

    &.status {
        span {
            text-decoration: line-through;
        }
    }
}